
@media (min-width:320px)and (max-width:568px){
h1 {
font-size:1.6em;
}
  h2{
margin-top:50px;
margin-bottom:50px;
}
h6{
font-size:1em;
}

.header-css img {
max-width:140px;
max-height:140px;
margin-bottom:10px;
}

.header-css h1{
font-size:1.5em;
}
.header-css h4{
font-size:1em;
}
.menu{
   display:none;
  }
  .about{
    margin-left:30px;
  }
  .about p{
  margin-bottom:50px ;
  font-size:1em;
  }
  .about img {
    width:300px;
    height:300px;
    margin-right:40px;
    float:left;
    border-radius: 100%;
    }
  #scroll{
  width:30px;
  height:30px;
  }
.col-3 {
margin-right:1em !important;
}
  .skill {
  margin-top:50%;
  height:100%;
  }
  .skill .info {
  width: 80%;
  height:100%;
  }
  .skill img{
    width: 60px;
    height:60px;
    animation-name:opacity;
    animation-duration:2s;
    animation-iteration-count: infinite;
    }


    #navbarNav li{
      display:inline-block;
      font-size:1em;
      margin:2px;
      color:white;
      }

      .portfolio {
      width:100%;
      }
      
  }
  @media (max-width:320px)
  {

    .presentacion img{
    max-width:110px;
    max-height:110px;
    }
    .presentacion h1,h4{
    margin:8px;
    }
   .presentacion button{
    max-width:20px;
    max-height:20px;
    position:relative;
    top:20px;
    }
  }  







